{% extends "base.html" %}
{% load static %}
{% block content %}

    <section id="portfolio" class="portfolio">
        <div class="portfolio-title send-message flex-wrap">
            <h1 class="indent-portfolio-title">portfolio</h1>
            <img class="portfolio-icon" src="{% static 'media/briefcase.png' %}">
        </div>
        <p class="meaning subtitle-portfolio center">"Work hard in silence. Let success make the noise"</p>
        <div class="flex-column-center indent-bottom">
            <a href="https://event.ruangguru.com/layananpelanggan" data-toggle="tooltip" target="_blank"
               title="Click me!">
                <img class="portfolio-mockup-laptop" src="{% static 'media/ruangguru-portfolio.png' %}">
            </a>
            <h4 class="center">Customer Service Landing Page</h4>
            <p class="portfolio-box description center"> Designed this website because there were many complaints when
                using
                the application.
                Therefore this website is given specifically for users who subscribe 'ruang belajar' so that users
                can consult directly with Ruangguru customer service.
            </p>
        </div>

        <div class="flex-column-center indent-bottom">
            <a href="http://tugas1-ppw-sukses.herokuapp.com" data-toggle="tooltip" target="_blank" title="Click me!">
                <img class="portfolio-mockup-laptop" src="{% static 'media/sinarperak-portfolio.png' %}">
            </a>
            <h4 class="center">Sinar Perak Crowdfunding Website</h4>
            <p class="portfolio-box description center"> Sinar Perak is a web platform to donate money for people who
                needed. Created by group of four people for web design and programming assignment. Designed the user
                interface and developed the registration page for donators.
            </p>
        </div>

        <div class="flex-column-center indent-bottom">
            <a href="https://marvelapp.com/f2d8dc9/screen/49021408" data-toggle="tooltip" target="_blank"
               title="Click me!">
                <img class="portfolio-mockup-mobile" src="{% static 'media/overseas-mockup.png' %}">
            </a>
            <h4 class="center">Overseas App</h4>
            <p class="portfolio-box description center"> Overseas is a mobile application that acts as an agent to
                realizing
                students’ desires to continue their studies overseas. This app provides complete information and
                features to
                help students reach their dreams.
            </p>
        </div>

        <div class="flex-column-center indent-bottom">
            <a href="https://www.behance.net/gallery/62792795/Rabbit-App-Redesign" data-toggle="tooltip" target="_blank"
               title="Click me!">
                <img class="portfolio-mockup-mobile" src="{% static 'media/rabbit-mockup.png' %}">
            </a>
            <h4 class="center">Rabbit App Redesign</h4>
            <p class="portfolio-box description center"> The problem is user have to re-invite their common friends
                everytime they make a new room to watch. When user make a group, public be able to join and see all the
                activities. So, I make group settings that user are be able to choose what kind of group they want to
                make.
            </p>
        </div>

        <div class="flex-column-center">
            <a href="https://www.dekoruma.com/Rak-&-Penyimpanan" data-toggle="tooltip" target="_blank"
               title="Click me!">
                <img class="portfolio-mockup-mobile" src="{% static 'media/wishlist-mockup.png' %}">
            </a>
            <h4 class="center">Dekoruma Wishlist Feature</h4>
            <p class="portfolio-box description center"> The problem is customers can’t add product to wishlist and
                check
                their wishlist-ed products. With wishlist feature, its enable customers add product to wishlist and
                explore
                their wishlist-ed products.
            </p>
        </div>
    </section>

    <div id="arrow-up-contact" class="arrow-up">
        <a class="fa fa-arrow-circle-up fa-3x button-decoration" href="#portfolio"></a>
    </div>
{% endblock %}
