{% extends "base.html" %}
{% load static %}
{% block content %}

    <section class="main-header flex-wrap">
        <div class="left-content">
            <h1 class="title-indent">who am I?</h1>

            <div class="photo-per-age flex-wrap">
                <div id="red-to-blue" class="circle">
                    <p class="font age">5</p>
                    <p class="font year-of-age">y.o</p>
                </div>

                <div id="blue-to-yellow" class="circle">
                    <p class="font age">10</p>
                    <p class="font year-of-age">y.o</p>
                </div>
                <div id="yellow-to-tosca" class="circle">
                    <p class="font age">20</p>
                    <p class="font year-of-age">y.o</p>
                </div>
            </div>

            <div class="about-name">
                <p class="font empty-space" id="name">Stevany</p>
                <p id="nick-name" class="empty-space">/Hany/</p>
                <p class="font meaning empty-space">person</p>
                <p class="font meaning text-indent empty-space">1. An independent girl who like to explore new things
                    and
                    interested in digital product design and web development.</p>
                <p class="font meaning text-indent empty-space">2. Junior member web development material</p>
            </div>
        </div>

        <div><img class="profile-picture" src="{% static 'media/stevany.png' %}"></div>

    </section>

    <section class="gallery">
        <h1 class="indent-gallery">gallery of blessed girl.</h1>
        <div class="indent-gallery">
            <div class="gallery-picture">
                <img class="picture" src="{% static 'media/pict1.png' %}">
                <img class="picture" src="{% static 'media/pict2.png' %}">
                <img class="picture" src="{% static 'media/pict3.png' %}">
                <img class="picture" src="{% static 'media/pict4.png' %}">
                <img class="picture" src="{% static 'media/pict5.png' %}">
                <img class="picture" src="{% static 'media/pict6.png' %}">
                <img class="picture" src="{% static 'media/pict7.png' %}">
                <img class="picture" src="{% static 'media/pict8.png' %}">
                <img class="picture" src="{% static 'media/pict9.png' %}">
                <img class="picture" src="{% static 'media/pict10.png' %}">
            </div>
        </div>
    </section>

{% endblock %}