{% extends "base.html" %}
{% load static %}
{% block content %}

    <section id ="about" class="journey-title flex-column-center">
        <h1> amazing journey has begun.</h1>
        <div class="title-line"></div>
    </section>

    <section class="flex-column-center">
        <h3>education</h3>

        <div class="flex-wrap">
            <div class="circle education-logo"><img class="makara" src="{% static 'media/makara_ui.png' %}"></div>
            <div class="circle education-logo"><img class="makara" src="{% static 'media/makara_fasilkom.png' %}"></div>
        </div>

        <p class="meaning center">An undergraduate Information System Student</p>
        <p class="meaning center">at Faculty of Computer Science,</p>
        <p class="meaning center">University of Indonesia</p>

        <div class="box-education flex-column-center">
            <img class="want-to-know" src="{% static 'media/want-to-know.png' %}">
            <div id="button-gpa" class="box-gpa" onclick="gpaFunction()">
                <p id="reveal-gpa">Reveal Hany's GPA</p>
                <p id="hany-gpa" style="display: none">3.84/4.00</p>
            </div>
        </div>
    </section>

    <section class="flex-column-center">
        <h3 class="about-title center">interest</h3>
        <p class="meaning subtitle center">Click the pict to know my fav!</p>

        <div class="interest-content flex-wrap">
            <div class="my-interest">
                <div class="circle interest-logo"><img class="interest-icon" id="makeup-icon" onclick="makeupFunction()"
                                                       src="{% static 'media/make-up.png' %}"></div>
                <h6>makeup</h6>
                <p class="fav" id="makeup">Molita Lin is my fav beauty influencer</p>
            </div>

            <div class="my-interest">
                <div class="circle interest-logo"><img class="interest-icon" id="movie-icon" onclick="movieFunction()"
                                                       src="{% static 'media/video-player.png' %}">
                </div>
                <h6>movie</h6>
                <p class="fav" id="movie">The invisible guest and stonehearst asylum will blown your mind</p>
            </div>

            <div class="my-interest">
                <div class="circle interest-logo"><img class="interest-icon" id="travel-icon" onclick="travelFunction()"
                                                       src="{% static 'media/globe.png' %}"></div>
                <h6>travel</h6>
                <p class="fav" id="travel">Hope someday I’m gonna travel the world</p>
            </div>

            <div class="my-interest">
                <div class="circle interest-logo"><img class="interest-icon" id="photoshoot-icon"
                                                       onclick="photoShootFunction()"
                                                       src="{% static 'media/photo-camera.png' %}">
                </div>
                <h6>photo shoot</h6>
                <p class="fav" id="photoshoot">Pose, smile, and capture me!</p>
            </div>
        </div>
    </section>

    <section class="about-page-section">
        <h3 class="about-title center">skills</h3>
        <p class="meaning subtitle center">When love and skill work together, expect a great masterpiece we can
            build.</p>

        <div class="skill-picture">
            <div class="circle"><img class="skill-logo" src="{% static 'media/photoshop.png' %}"></div>
            <div class="circle"><img class="skill-logo" src="{% static 'media/illustrator.png' %}"></div>
            <div class="circle"><img class="skill-logo" src="{% static 'media/sketch.png' %}"></div>
            <div class="circle"><img class="skill-logo" src="{% static 'media/figma.png' %}"></div>
            <div class="circle"><img class="skill-logo" src="{% static 'media/html.png' %}"></div>
            <div class="circle"><img class="skill-logo" src="{% static 'media/css.png' %}"></div>
        </div>

    </section>

    <section class="about-page-section">
        <h3 class="about-title center">experiences</h3>

        <div class="flex-wrap-center">
            <div class="my-experience flex-column-center">
                <div><img class="intern-pict" src="{% static 'media/dekoruma.png' %}"></div>
                <h5 class="center">UI/UX Design Intern at Dekoruma</h5>
                <p style="font-style: italic">Jan 2019</p>
                <p class="description center">Working closely with product manager and engineers to ecourage impulsive
                    buying in
                    mobile
                    website. Designed
                    user interface, prototyped, and user testing for wishlist feature, search suggestion, and gift
                    categories.
                    Revamp mattress page and add advertisement on article pages.</p>
            </div>

            <div class="my-experience flex-column-center">
                <div><img class="intern-pict" src="{% static 'media/ruangguru.png' %}"></div>
                <h5 class="center">UI/UX Design Intern at Ruangguru</h5>
                <p style="font-style: italic">Jun-Aug 2018</p>
                <p class="description center">Designed customer service landing page, pillar page for 'Bimble Online’,
                    feature for
                    ‘Ruang Radio’, and both mobile and web reports for
                    parents. Redesign and beautify payment pages. In completing the projects, do some research and
                    usability
                    testing with users.</p>
            </div>
        </div>

    </section>

    <div id="arrow-up-contact" class="arrow-up">
        <a class="fa fa-arrow-circle-up fa-3x button-decoration" href="#about"></a>
    </div>

{% endblock %}