html, body {
    margin: 0;
    padding: 0;
}

p {
    display: block;
    margin: 0 0;
    color: #313131;
}

h1 {
    font-family: 'American Typewriter', serif;
    font-size: 40px;
    letter-spacing: 3px;
    color: #313131;
}

h4 {
    font-family: Roboto-bold, sans-serif;
    font-weight: bolder;
    color: #313131;

}

h3 {
    font-family: Roboto-bold, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    color: #313131;

}

h6 {
    font-family: Roboto-bold, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #313131;
}

h5 {
    font-family: Roboto-bold, sans-serif;
    font-weight: bold;
    color: #313131;
}

@font-face {
    font-family: 'American Typewriter';
    src: url("../font/american.ttf");
}

body {
    background-color: #FAFAFA;
}

.sign-icon {
    width: 134px;
    height: 33px;
}

.circle {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#red-to-blue {
    height: 120px;
    width: 120px;
    background-image: linear-gradient(to right, rgba(255, 229, 229, 100), rgba(202, 230, 255, 100));
    margin-right: 2rem;
}

#red-to-blue:hover {
    transition: 0.5s;
    cursor: pointer;
    background-image: url("../media/5yo.png");
    background-size: cover;
    font-size: 0;
}

#red-to-blue:hover > p {
    display: none;
}

#blue-to-yellow {
    height: 120px;
    width: 120px;
    background-image: linear-gradient(to right, rgba(213, 230, 250, 100), rgba(242, 252, 190, 100));
    margin-right: 2rem;
}

#blue-to-yellow:hover {
    transition: 0.5s;
    cursor: pointer;
    background-image: url("../media/10yo.png");
    background-size: cover;
    font-size: 0;
}

#blue-to-yellow:hover > p {
    display: none;
}

#yellow-to-tosca {
    height: 120px;
    width: 120px;
    background-image: linear-gradient(to right, rgba(242, 252, 190, 100), rgba(254, 215, 157, 100));
    transition: 0.5s;
}

#yellow-to-tosca:hover {
    transition: 0.5s;
    cursor: pointer;
    background-image: url("../media/20yo.png");
    background-size: cover;
    font-size: 0;
}

#yellow-to-tosca:hover > p {
    display: none;
}

.center {
    text-align: center;
}

.photo-per-age {
    margin: 2rem 0;
}

.font {
    font-family: 'Roboto', sans-serif;
    color: #313131;
}

.text-indent {
    padding-left: 2rem;
}

#name {
    font-size: 32px;
    font-weight: bold;
}

#nick-name {
    font-family: 'Roboto', sans-serif;
    color: #6F6F6F;
    font-size: 24px;
}

.meaning {
    font-style: italic;
    font-size: 20px;
}

.main-header {
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 6rem;
}

.profile-picture {
    width: 395px;
    height: 458px;
}

.left-content {
    width: 424px;
}

.age {
    font-size: 52px;
    font-weight: 900;
    height: 60px;
}

.year-of-age {
    font-size: 24px;
}

.empty-space {
    margin: 1rem 0;
}

.picture {
    transition: 0.3s;
    width: calc(100vw / 6);
    height: calc(100vw / 6);
    filter: grayscale(100%);
    cursor: pointer;
}

.picture:hover {
    transition: 0.3s;
    filter: none;
}

.gallery-picture {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-wrap-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-wrap-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indent-gallery {
    margin: 1rem 0 3rem 0;
}

.title-line {
    width: 680px;
    height: 8px;
    background-image: linear-gradient(to right, rgba(255, 223, 223, 100), rgba(224, 231, 255, 100));
}

.journey-title {
    padding: 4rem 0;
}

.makara {
    width: 80px;
    height: 80px;
}

.education-logo {
    background-color: white;
    width: 120px;
    height: 120px;
    margin: 2rem 1rem;
    box-shadow: 0 0 10px #d6d6d6;
}

/*Navbar*/

.nav-link {
    font-family: Roboto-bold, sans-serif;
    font-size: 16px;
    font-weight: 900;
    color: #313131;
    margin: 1.2rem 0.7rem;
    text-transform: uppercase;
}

.navbar-nav {
    padding-right: 2rem;
}

.bg-light {
    background-color: #FAFAFA !important;
}

.navbar-brand {
    padding-left: 2rem;
}

.box-gpa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 48px;
    border: 1.5px solid #FFC5C5;
    border-radius: 8px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.box-education {
    margin-top: 2rem;
}

.want-to-know {
    width: 130px;
    height: 60px;
}

.my-interest {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
}

.interest-content {
    justify-content: center;
}

.interest-icon {
    width: 100px;
    height: 100px;
}

.interest-logo {
    margin: 1rem 2rem;
}

.about-title {
    padding-top: 6rem;
}

.subtitle {
    padding-bottom: 1.5rem;
}

.skill-logo {
    width: 100px;
    height: 100px;
    margin: 1rem 2rem;
    transition: transform 0.5s;
}

.skill-logo:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.skill-picture {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.fav {
    font-size: 16px;
    width: 146px;
    text-align: center;
    display: none;
}

.interest-icon:hover {
    cursor: pointer;
}

.display {
    display: none;
}

.my-experience {
    width: 360px;
    margin: 0 2.5rem 4rem 2.5rem;
}

.intern-pict {
    width: 160px;
    height: 160px;
    margin: 2rem 0;
}

.description {
    margin-top: 1rem;
}

.social-media {
    width: 24px;
    height: 24px;
    margin: 1rem;
}

.social-media:hover {
    cursor: pointer;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.footer-name {
    font-weight: bold;
    font-family: "American Typewriter";
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.message-icon {
    width: 48px;
    height: 48px;
    margin: 0 1rem;
}

.send-message {
    display: flex;
    flex-direction: row;
}

#id_message {
    font-family: Roboto, sans-serif;
    width: 640px;
    height: 200px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .16);
    border: solid 1.5px;
    border-color: #6d6d6d;
    border-radius: 8px;
    padding: 1rem;
}

.contact-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0 2.5rem 0;
}

.submit-section {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 640px;
}

input[id=submit_message] {
    background-color: white;
    color: #6d6d6d;
    font-weight: bold;
    border: 2px solid #6d6d6d;
    border-radius: 8px;
    width: 200px;
    height: 48px;
    text-align: center;
    font-family: 'American Typewriter';
    font-size: 20px;
}

input[id=submit_message]:hover {
    border-color: #ff7676;
    color: #ff7676;
}

.submit-button {
    margin: 2rem 0;
}

.box-message {
    margin: 2rem;
    padding: 1rem;
    width: calc(100vw / 4);
    height: 200px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .16);
}

.show-message {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.title-list-messages {
    margin: 6rem 0 1.5rem 0;
}

.font-message {
    word-break: break-word;
}

.portfolio-icon {
    width: 42px;
    height: 42px;
    margin: 0 1.5rem;
}

.portfolio-title {
    justify-content: center;
    padding: 4rem 0 0.5rem 0;
}

.portfolio-mockup-laptop {
    width: 480px;
    margin: 2rem 0;
}

.portfolio-mockup-mobile {
    width: 400px;
    margin: 2rem 0;
}

.portfolio-box {
    margin-bottom: 5rem;
}

.subtitle-portfolio {
    padding-bottom: 3rem;
}

@media screen and (max-width: 767px) {
    h1, h4 {
        text-align: center;
        margin: 0 1rem;
    }

    .main-header {
        height: auto;
    }

    .photo-per-age {
        align-items: center;
        justify-content: center;
    }

    .profile-picture {
        width: 300px;
        height: 363px;
        margin-top: 2rem;
    }

    .text-indent, .navbar-brand {
        padding-left: 0;
    }

    .about-name {
        margin: 0 1rem 0 1.5rem;
    }

    #blue-to-yellow, #red-to-blue, #yellow-to-tosca {
        margin: 0 1rem;
    }

    .picture {
        width: calc(375px / 2);
        height: calc(375px / 2);
    }

    .title-line, .my-experience, .title-line, #id_message {
        width: 320px;
    }

    .my-interest {
        margin: 0 0.5rem;
    }

    .left-content, .submit-section {
        width: 375px;
    }

    .meaning {
        margin: 0 1rem;
    }

    .submit-section {
        justify-content: center;
        align-items: center;
    }

    .box-message {
        margin: 1rem;
        padding: 1rem;
        width: 320px;
        height: 200px;
    }

    .message-icon {
        margin-top: 1.5rem;
    }

    .title-indent {
        margin-top: 2rem;
    }

    .portfolio-mockup-mobile, .portfolio-mockup-laptop {
        width: 280px;
    }

    .portfolio-box {
        padding: 0 2rem;
        margin-bottom: 2.5rem;
    }

    .portfolio-icon {
        margin: 0;
    }
}

@media screen and (min-width: 820px) {
    .portfolio-box {
        width: 680px;
    }

    .main-header {
        height: 100vh;
    }
}