{% load static %}
<html lang="en">
<head>
    <title>Honey</title>
    {% include "head-import.html" %}
</head>
<body>
{% include "navbar.html" %}
{% block content %} {% endblock %}
{% include "footer.html" %}
</body>
</html>