{% load static %}
<div class="flex-column-center">
    <div class="social-icon">
        <a href="https://www.instagram.com/stevanysupardi/" target="_blank">
            <img class="social-media" src="{% static 'media/instagram-logo.png' %}">
        </a>
        <a href="https://www.linkedin.com/in/stevany-supardi-4b8528151" target="_blank">
            <img class="social-media" src="{% static 'media/linkedin-logo.png' %}">
        </a>
        <a href="https://drive.google.com/file/d/1cPpi2iXG7QYhMlk_2S9-MlUJCKdKpPZv/view?usp=sharing" target="_blank">
            <img class="social-media" src="{% static 'media/old-fashion-briefcase.png' %}">
        </a>
        <a href="https://www.behance.net/stevanysup4144" target="_blank">
            <img class="social-media" src="{% static 'media/behance-logo.png' %}">
        </a>
        <a href="https://www.youtube.com/channel/UC-bPRS3j1rIWHO7qKbw8ldA" target="_blank">
            <img class="social-media" src="{% static 'media/youtube-logo.png' %}">
        </a>
    </div>
    <p class="footer-name">-stevany-</p>
</div>