{% load static %}
<nav id="nav" class="navbar navbar-expand-md bg-light navbar-light justify-content-between">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img class="sign-icon" src="{% static 'media/hany-logo.png' %}">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav" id="mainNav">
            <li class="nav-item"><a id="a-home" class="nav-link" href="{% url 'home' %}">Home</a></li>
            <li class="nav-item"><a id="a-about" class="nav-link" href="{% url 'about' %}">About</a></li>
            <li class="nav-item"><a id="a-portfolio" class="nav-link" href="{% url 'portfolio' %}">Portfolio</a></li>
            <li class="nav-item"><a id="a-contact" class="nav-link" href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </div>
</nav>