{% extends "base.html" %}
{% load static %}
{% block content %}

    <section class="contact">
        <div class="contact-title send-message flex-wrap">
            <h1> send me a message!</h1>
            <img class="message-icon" src="{% static 'media/love.png' %}">
        </div>
        <form id="form" method="POST">
            {% csrf_token %}
            <div class="form-message flex-column-center">
                <div class="message-box">
                    {{ form.message }}
                </div>
                <div class="submit-section">
                    <input class="submit-button" type="submit" id="submit_message" value="submit">
                </div>
            </div>
        </form>
    </section>

    <section class="list-message about-page-section">
        <h1 class="title-list-messages center"> messages from my beloved friends.</h1>
        <div class="show-message">
            {% for message in data %}
                <div class="box-message flex-column-center">
                    <p class="font-message">“{{ message.message }}” </p>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}